<div class="row">
  <h1 class="text-center">{{name}}</h1>
  <div class="col-md-12">
    <p class="lead">PRIX: {{price}} €</p>
    <p class="lead">Donations reçues: {{receivedDonations}} €</p>
  </div>

  <div class="col-md-12">
    {{input value=amountInEuros}}
    <span class="glyphicon glyphicon-eur"></span>
  </div>

  <div class="col-md-12">
    {{stripe-button description=description amountInEuros=amountInEuros shortName=shortName}}
  </div>

  {{yield}}
</div>