<div class="row">
  <h1 class="text-center">{{name}}</h1>
  <div class="col-md-12">
    <p class="lead">PRIX: {{price}} €</p>
    <p class="lead">Donations reçues: {{receivedDonations}} €</p>
  </div>

  <div class="col-md-12">
    {{input value=amountInEuros}}
    {{#if hasErrors}}
      <div class="errors">{{errors}}</div>
    {{/if}}
    <span class="glyphicon glyphicon-eur"></span>
  </div>

  <div class="col-md-12">
    <button type="button" class="donate-button btn-block" {{action 'clickButton'}}>
      Je veux participer à l'achat de {{shortName}}
    </button>
  </div>

  {{yield}}
</div>